<nav>
  <ul *ngIf="isAuthenticated">
    <li><a routerLink="/home">Inicio</a></li>

    <ng-container *ngIf="role ==='Gerente'; else empleadoOptions">
      <li><a routerLink="/user">Usuarios</a></li>
      <li><a routerLink="/venta">Realizar Venta</a></li>
      <li><a routerLink="/categories">Categoría</a></li>
    </ng-container>

    <ng-template #empleadoOptions>
      <!-- Aquí puedes agregar enlaces específicos para empleados -->
      <li><a routerLink="/venta">Realizar Venta</a></li>
      <li><a routerLink="/categories">Categoría</a></li>
    </ng-template>
    <li><a routerLink="/combos">Combos</a></li>
    <li><a style="cursor: pointer;" (click)="logOut()">Cerrar Sesión</a></li>
  </ul>

  <ul *ngIf="!isAuthenticated">
    <li><a routerLink="/venta">Realizar Venta</a></li>
    <li><a (click)="logOut()">Iniciar Sesión</a></li>
  </ul>
</nav>
