.btn-container button {
  width: 125px;
  height: 40px;
  border: none;
  outline: none;
  background: #8a33009c;
  color: #fff;
  font-family: 'Kalam', sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 5px; /* Ajusta el valor según la separación que desees */
}

