<div class="container">
  <form [formGroup]="form" class="content">
    <h1>Recuperar Cuenta</h1>
    <div class="input-container">
      <div class="input-content">
        <input [type]="passwordVisible ? 'text' : 'password'" formControlName="password" placeholder="Contraseña">
        <img src="assets/icons/auth/lock.svg" alt="password" class="icon lock-icon input-icon" style="width: 40px; height: 40px;">
        <img [src]="passwordVisible ? 'assets/icons/auth/eye-slash.svg' :'assets/icons/auth/eye.svg'" alt="toggle-password" (click)="togglePasswordVisibility()" class="icon toggle-password" [style]="passwordVisible ? 'width: 35px; height: 35px;' : 'width: 30px; height: 30px;'">
      </div>

    </div>
    <div class="recovery">
      <a style="font-size: 15px !important;" [routerLink]="['/login']">O, Inicia Sesion</a>
    </div>
    <div class="submit">
      <button type="submit" (click)="sendRequest($event)">Iniciar</button>
    </div>
  </form>
</div>
