/* sales-table.styles.scss */

.sales-container {
  margin: 20px auto; /* Ajusta el margen y centra la tabla */
  width: 100%; /* Utiliza el ancho completo del contenedor padre */
  overflow-x: auto; /* Agrega barra de desplazamiento horizontal cuando sea necesario */
}

.title-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title-container > h1 {
  font-family: 'Kalam', sans-serif;
  color: #fff;
}

.sales-table {
  width: 1200px; /* Establece un ancho fijo para la tabla */
  margin: 0 auto; /* Centra la tabla dentro del contenedor */
  border-collapse: collapse;
  margin-top: 20px; /* Añade margen superior para separar del título */
}

.sales-table th, .sales-table td {
  border: 2px solid #fff; /* Reduzco el grosor del borde */
  padding: 12px; /* Incremento el espacio interno de las celdas para que sean más grandes */
  font-family: 'Kalam', sans-serif;
  font-size: 18px; /* Ajusta el tamaño de la fuente según tu preferencia */
  font-weight: bold; /* Agrega negrita para resaltar más */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}

.sales-table th {
  background: #d9d9d975;
  color: #000;
  text-align: center;
}

.sales-table td {
  background: #d9d9d975;
  color: #fff;
  text-align: center;
}

.sales-table tbody {
  max-height: 300px; /* Ajusta la altura máxima según sea necesario */
  overflow-y: auto;
}

.sales-table tbody td {
  width: 14.28%; /* Ajusta el ancho de las celdas según sea necesario */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.filter-container {
  display: flex;
  justify-content: flex-end; /* Mueve los elementos al extremo derecho */
  margin: 10px; /* Ajusta el margen según sea necesario */
}

.filter-label {
  font-family: 'Kalam', sans-serif;
  color: #fff;
  font-size: 20px; /* Tamaño de la fuente de los labels */
}

.filter-select,
.filter-input{
  width: 30%; /* Ancho del 80% para que no ocupe el ancho completo del contenedor */
  height: 50px;
  background: #d9d9d975;
  outline: none;
  border: none;
  border-radius: 10px;
  padding-inline-start: 17px;
  font-family: 'Kalam', sans-serif;
  color: #fff;
  font-size: 20px; /* Ajusta el tamaño de la fuente según tu preferencia */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.btn-container button {
  width: 80px;
  height: 40px;
  border: none;
  outline: none;
  background: #8a33009c;
  color: #fff;
  font-family: 'Kalam', sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
}
