.options {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sales-container {
  margin: 20px auto;
  width: 100%;
  overflow-x: auto;
}

.title-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title-container > h1 {
  font-family: 'Kalam', sans-serif;
  color: #fff;
}

.sales-table {
  width: 1200px; /* Establece un ancho fijo para la tabla */
  margin: 0 auto; /* Centra la tabla dentro del contenedor */
  border-collapse: collapse;
  margin-top: 20px; /* Añade margen superior para separar del título */
}

.sales-table th  {
  font-family: 'Kalam', sans-serif;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  padding: 12px;
  font-family: 'Kalam', sans-serif;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  background: #fff;
  color: #000;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.sales-table td {
  border-bottom: 1px solid #fff; /* Reduzco el grosor del borde */
}

.sales-table td {
  color: #fff;
  text-align: center;
}

.sales-container {
  height: 350px;
  overflow-y: auto;
}

.sales-table tbody td {
  width: 14.28%; /* Ajusta el ancho de las celdas según sea necesario */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.filter-container {
  width: calc(98%/3);
  display: flex;
  align-items: center;
  gap: 5px;
}

.filter-label {
  font-family: 'Kalam', sans-serif;
  color: #fff;
  font-size: 20px; /* Tamaño de la fuente de los labels */
}

.filter-select,
.filter-input{
  width: 70%; /* Ancho del 80% para que no ocupe el ancho completo del contenedor */
  height: 50px;
  background: #d9d9d975;
  outline: none;
  border: none;
  border-radius: 10px;
  padding-inline-start: 17px;
  font-family: 'Kalam', sans-serif;
  color: #fff;
  font-size: 20px; /* Ajusta el tamaño de la fuente según tu preferencia */
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.filter-select {
  background: #d9d9d975;
  color: #000; /* Set a contrasting color for the text */
}

.filter-select:hover {
  background: #fff; /* Change the background color on hover */
  color: #000; /* Change the text color on hover */
}

.filter-select option[selected] {
  background: #d9d9d975; /* Set a background color for the selected option */
  color: #000; /* Set a text color for the selected option */
}


.btn-container button {
  width: 80px;
  height: 40px;
  border: none;
  outline: none;
  background: #8a33009c;
  color: #fff;
  font-family: 'Kalam', sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
}

img.delete {
  width: 50px;
  outline: none;
  background: #8a33009c;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 5px;
  margin: 2px;
}

img.inf {
  width: 45px;
  outline: none;
  background: #8a33009c;
  border-radius: 50%;
  cursor: pointer;
  margin-bottom: 5px;
  margin: 2px;
}

div.clean-container {
  width: 100%;
  height: max-content;
}

button.clean {
  width: 15%;
  height: 20%;
  border: 1px solid #8a33009c;
  outline: none;
  background: #8a33009c;
  color: #fff;
  font-family: 'Kalam', sans-serif;
  font-size: 18px;
  cursor: pointer;
  margin-left: 100px;
  margin-top: 15px;
}


button.clean:hover {
  border: 1px solid #fff;
}
