.container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas, una para el formulario y otra para la lista de productos */
  grid-gap: 20px; /* Espacio entre las columnas */
  width: 100%;
  height: calc(100vh - 45px);
}

.combo-form-container {
  width: 40%;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.products-container {
  width: 30%;
  height: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items:normal;
  justify-content: center;
  padding: 10px;
}


.container > form {
  width: 80%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

.title-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.title-container > h1 {
  font-family: 'Kalam', sans-serif;
  color: #fff;
}

.combo-data {
  width: 40%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Cambiamos la dirección a columna */
}

.combo-data input, .combo-data select {
  width: 80%;
  height: 40px;
  background: #d9d9d975;
  outline: none;
  border: none;
  border-radius: 10px;
  padding-inline-start: 17px;
  font-family: 'Kalam', sans-serif;
  color: #fff;
  font-size: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.combo-data input::placeholder,
.combo-data select::placeholder {
  color: #fff; /* Color blanco para el placeholder */
}

.label-container {
  width: 100%;
  height: max-content;
}

.label-container > label {
  color: #fff;
  font-family: 'Kalam', sans-serif;
  padding-inline-start: 40px;
}

.combo-data ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.combo-data ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #d9d9d975;
  border-radius: 10px;
  padding: 10px;
  margin: 5px 0;
  font-family: 'Kalam', sans-serif;
  color: #fff;
}

.combo-data ul li button {
  background: #8a33009c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 10px;
}

.btn-container {
  margin-top: 25px;
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-container button {
  width: 150px;
  height: 40px;
  border: none;
  outline: none;
  background: #8a33009c;
  color: #fff;
  font-family: 'Kalam', sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-container button:hover {
  transform: translateY(-5%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
