<div class="container">
  <form [formGroup]="comboForm" enctype="multipart/form-data">
    <div class="title-container">
      <h1>Crear un Combo</h1>
    </div>
    <div class="combo-data">
      <div class="label-container">
        <label for="comboName">Nombre del Combo</label>
      </div>
      <input type="text" id="comboName" formControlName="comboName" placeholder="Nombre del Combo" required>
      <div class="label-container">
        <label for="comboPrice">Precio del Combo</label>
      </div>
      <input type="number" placeholder="$5.99" id="comboPrice" formControlName="comboPrice" >
      <div class="label-container">
        <label for="status">Estado</label>
      </div>
      <select id="status" formControlName="status">
        <option>Estado</option>
        <option value="activo">Activo</option>
        <option value="inactivo">Inactivo</option>
      </select>

      <!-- Otros campos del combo según tu estructura -->

      <div class="label-container">
        <label for="searchTerm">Buscar Productos</label>
      </div>
      <input placeholder="Buscar productos" type="text" id="searchTerm"  (input)="search($event)">
      <ul *ngIf="showResults">
        <!-- Lista de productos filtrada por el término de búsqueda -->
        <li *ngFor="let product of products.data">
          <span class="product-name">{{ product.name }}</span>
          <button type="button" (click)="onSelectProduct(product)">Agregar al Combo</button>
        </li>
      </ul>
    </div>

      <div class="btn-container">
        <button (click)="sendRequest($event)">Guardar Combo</button>
      </div>
  </form>
  <div class="products-container">
    <div class="title-container">
      <h1>Productos en el Combo</h1>
    </div>
    <div class="combo-data">
      <ul>
        <!-- Lista de productos agregados al combo -->
        <li *ngFor="let product of comboForm.get('selectedProduct')?.value">
          <span class="product-name">{{ product.name }}</span>
          <button type="button" (click)="onRemoveProduct(product)">Quitar del Combo</button>
        </li>
      </ul>
    </div>
  </div>
</div>

