<div class="container">
  <div class="content">
    <div class="left-aside">
      <form action="" class="sale-product">
        <h1>Vender Producto</h1>
        <div class="sale">
          <div class="input-group">
            <label for="" class="label-quantity">Cantidad</label>
            <input type="number" style="width: 30%;" class="product-quantity">
          </div>
          <div class="input-group">
            <label for="" class="label-search">Buscar producto</label>
            <input class="sale-search" type="search" style="width: 250px;" (input)="saleProduct($event)">
          </div>
          <div class="prod-modal" *ngIf="showProd">
            <div class="sale-content" style="background: #ffffff5d;">
              <div class="img-content">
                <img src="https://assets.unileversolutions.com/recipes-v2/235485.jpg" alt="">
              </div>
              <div class="product-quantity">
                <p class="price" id="quantity">5</p>
              </div>
              <div class="product-info">
                <p class="name">Doubble cheese</p>
                <div id="price" class="price">$10.99</div>
              </div>
            </div>
          </div>
        </div>
      </form>

      <div style="margin-inline-start: 26px;" class="sale-content-title">
        <div class="img-content">
          <img src="https://assets.unileversolutions.com/recipes-v2/235485.jpg" alt="">
        </div>
        <div class="product-quantity">
          <p class="price">Cantidad</p>
        </div>
        <div class="product-info">
          <p style="margin-inline-start: 30px;" class="name">Producto</p>
          <div style="margin-inline-start: 40px;" class="price">Precio</div>
        </div>
        <div class="sale-action">
          Eliminar
        </div>
      </div>
      <div class="show-sale">
        <div class="sale-content">
          <div class="img-content">
            <img src="https://assets.unileversolutions.com/recipes-v2/235485.jpg" alt="">
          </div>
          <div class="product-quantity">
            <p class="price" id="quantity">5</p>
          </div>
          <div class="product-info">
            <p class="name">Doubble cheese</p>
            <div id="price" class="price">$10.99</div>
          </div>
          <div class="sale-action">
            <button>
              <img class="delete-btn" src="../../../assets/icons/delete.svg" alt="">
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="rigth-aside">
      <form class="sale-detail" [formGroup]="saleForm">
        <h2>Resumen de la venta</h2>

        <div class="detail-sale-content">
          <label for="name">Nombre:</label>
          <input class="discount-input" type="text" placeholder="Nombre del cliente" formControlName="name">
        </div>

        <div class="detail-sale-content">
          <label for="cellphone">Celular:</label>
          <input class="discount-input" type="text" placeholder="Celular del cliente" formControlName="cellphone">
        </div>

        <div class="detail-sale-content">
          <label for="discount">Descuento</label>
          <input class="discount-input" (input)="discount()" type="number" placeholder="Descuento" formControlName="discount">
        </div>

        <div class="detail-sale-content">
          <label for="subtotal">Sub Total</label>
          <input class="discount-input" type="text" placeholder="$0.00" formControlName="subtotal" readonly>
        </div>

        <div class="detail-sale-content">
          <label for="paymentMethod">Pago con:</label>
          <input class="discount-input" (input)="changePayment()" type="number" placeholder="20.00" formControlName="paymentMethod">
        </div>

        <div class="detail-sale-content">
          <label for="change">Cambio</label>
          <input class="discount-input" type="text" placeholder="$2.00" formControlName="change" readonly>
        </div>

        <div class="detail-sale-content">
          <label for="total">Total</label>
          <input class="discount-input" type="text" placeholder="$18.00" formControlName="total" readonly>
        </div>
      </form>

    </div>
  </div>
</div>
