<div class="container">
  <div class="content">
    <div class="left-aside">
      <form action="" class="sale-product">
        <h1>Vender Producto</h1>
        <div class="sale">
          <div class="input-group">
            <label for="" class="label-quantity">Cantidad</label>
            <input type="number" style="width: 30%;" class="product-quantity">
          </div>
          <div class="input-group">
            <label for="" class="label-search">Buscar producto</label>
            <input class="sale-search" type="search" style="width: 250px;">
          </div>
        </div>
      </form>

      <div style="margin-inline-start: 26px;" class="sale-content">
        <div class="img-content">
          <img src="https://assets.unileversolutions.com/recipes-v2/235485.jpg" alt="">
        </div>
        <div class="product-quantity">
          <p class="price">Cantidad</p>
        </div>
        <div class="product-info">
          <p style="margin-inline-start: 30px;" class="name">Producto</p>
          <div style="margin-inline-start: 40px;" class="price">Precio</div>
        </div>
        <div class="sale-action">
          Eliminar
        </div>
      </div>
      <div class="show-sale">
        <div class="sale-content">
          <div class="img-content">
            <img src="https://assets.unileversolutions.com/recipes-v2/235485.jpg" alt="">
          </div>
          <div class="product-quantity">
            <p class="price">5</p>
          </div>
          <div class="product-info">
            <p class="name">Doubble cheese</p>
            <div class="price">$10.99</div>
          </div>
          <div class="sale-action">
            <button>
              <img class="delete-btn" src="../../../assets/icons/delete.svg" alt="">
            </button>
          </div>
        </div>
        <div class="sale-content">
          <div class="img-content">
            <img src="https://assets.unileversolutions.com/recipes-v2/235485.jpg" alt="">
          </div>
          <div class="product-quantity">
            <p class="price">5</p>
          </div>
          <div class="product-info">
            <p class="name">Doubble cheese</p>
            <div class="price">$10.99</div>
          </div>
          <div class="sale-action">
            <button>
              <img class="delete-btn" src="../../../assets/icons/delete.svg" alt="">
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="rigth-aside">
      <div class="sale-detail">
        <h2>Resumen de la compra</h2>
        <div class="detail-sale-content">
          <div class="detail-content">
            <label for="discount">Descuento</label>
            <input class="discount-input" type="text" placeholder="Descuento" name="discount">
          </div>
          <div class="detail-content">
            <label for="discount">Total</label>
            <input class="discount-input" type="text" placeholder="total" name="total">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
