<div class="container">
  <form [formGroup]="form" class="content">
    <h1>INICIA SESIÓN</h1>
    <div class="input-container">
      <div class="input-content">
        <input type="text" placeholder="Correo" formControlName="email" >
        <img src="assets/icons/auth/email.svg" alt="email" class="icon input-icon" style="width: 40px; height: 40px;">
      </div>
      <div style="color: rgb(255, 255, 255); width: 100%; height: max-content; text-align: end; margin-right: 12px; margin-top: -10px;" *ngIf="form.get('email')?.hasError('email') && form.get('email')?.touched">
        Ingresa un correo electrónico válido.
      </div>
      <div class="input-content">
        <input [type]="passwordVisible ? 'text' : 'password'" formControlName="password" placeholder="Contraseña">
        <img src="assets/icons/auth/lock.svg" alt="password" class="icon lock-icon input-icon" style="width: 40px; height: 40px;">
        <img [src]="passwordVisible ? 'assets/icons/auth/eye-slash.svg' :'assets/icons/auth/eye.svg'" alt="toggle-password" (click)="togglePasswordVisibility()" class="icon toggle-password" [style]="passwordVisible ? 'width: 35px; height: 35px;' : 'width: 30px; height: 30px;'">
      </div>

    </div>
    <div class="recovery">
      <a href="/recovery">¿Olvido su contraseña?</a>
    </div>
    <div class="submit">
      <button type="submit" (click)="sendRequest($event)">Iniciar</button>
    </div>
  </form>
</div>
