<div class="container">
  <form [formGroup]="form" enctype="multipart/form-data" >
    <div class="title-container">
      <h1>Crear Categoria</h1>
    </div>
    <div class="img-container">
      <input type="file" formControlName="file" placeholder="Image"  (change)="onFileChange($event)">
    </div>
    <div class="product-data">
      <input type="text" formControlName="name" placeholder="Nombre">
      <input type="text" formControlName="status" placeholder="Estado">
    </div>
    <div class="btn-container">
      <button (click)="sendRequest($event)">Enviar</button>
    </div>
  </form>
</div>
