<div class="container">
  <form [formGroup]="form" enctype="multipart/form-data">
    <div class="title-container">
      <h1>Actualizar Categoría</h1>
    </div>
    <div class="img-container">
      <input type="file" formControlName="imgUrl" (change)="onFileSelected($event)">
      <label class="image-label">
        <img [src]="categoryDetail.imgUrl ? categoryDetail.imgUrl : '../../../../assets/icons/formIcons/image.svg'" alt="Imagen">
      </label>
    </div>
    <div class="category-data">
      <div class="label-container">
        <label for="name">Nombre:</label>
      </div>
      <input type="text" formControlName="name" placeholder="Nombre de Categoría">
      <div class="label-container">
        <label for="status">Estado:</label>
      </div>
      <select id="status" formControlName="status">
        <option value="true">Activo</option>
        <option value="false">Inactivo</option>
      </select>
    </div>
    <div class="btn-container">
      <button (click)="onSubmit()">Guardar Cambios</button>
    </div>
  </form>
</div>
