.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
}

.container-date {
  padding: 10px
}

#chart {
  width: 49%;
  background: #fff;
}

#pie {
  width: 49%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px; /* Agregamos un espacio interno */
  overflow: auto; /* Hacemos la tabla scrollable si es necesario */
  border: 1px solid #ccc; /* Agregamos bordes */
  border-radius: 5px; /* Añadimos esquinas redondeadas */
}

#pie table {
  width: 100%;
  border-collapse: collapse; /* Evita la separación de bordes dobles */
}

#pie th, #pie td {
  border: 2px solid #ccc; /* Añadimos bordes a las celdas */
  padding: 8px; /* Agregamos espacio interno a las celdas */
  text-align: center; /* Alineamos el texto a la izquierda */
}

#pie th {
  background-color: #f2f2f2; /* Color de fondo para los encabezados */
}


// /* home.component.scss */

// .report-container {
//   max-width: 800px;
//   margin: auto;
//   padding: 20px;
// }

// .filter-section {
//   margin-bottom: 20px;

//   label {
//     margin-right: 10px;
//   }

//   input, button {
//     padding: 5px;
//     font-size: 14px;
//   }
// }

// .sales-item {
//   border: 1px solid #ccc;
//   margin-bottom: 10px;
//   padding: 10px;

//   .sale-info {
//     margin-bottom: 10px;
//     p {
//       margin: 5px 0;
//     }
//   }

//   .product-combo-info {
//     p {
//       margin: 5px 0;
//     }
//   }
// }
