<!-- home.component.html -->

<div class="report-container">
  <h1>Reportes de Ventas</h1>

  <div class="filter-section">
    <label for="date">Filtrar por fecha:</label>
    <input type="date" id="date" [(ngModel)]="selectedDate">
    <button (click)="filterSalesByDate()">Buscar</button>
  </div>

  <div *ngIf="sales.data.length > 0; else noSales">
    <div class="sales-item" *ngFor="let sale of sales.data">
      <div class="sale-info">
        <p>Cliente: {{ sale.client }}</p>
        <!-- Otros detalles de la venta según tu modelo -->
      </div>
      <div class="product-combo-info" *ngIf="sale.productIds && sale.productIds.length > 0 || sale.comboIds && sale.comboIds.length > 0">
        <p *ngFor="let productId of sale.productIds">Producto ID: {{ productId }}</p>
        <p *ngFor="let comboId of sale.comboIds">Combo ID: {{ comboId }}</p>
        <!-- Otros detalles de productos y combos según tu modelo -->
      </div>
      <!-- Otros detalles de la venta según tu modelo -->
    </div>
    <p>Total recaudado: {{ totalAmount | currency:'USD':'symbol':'1.2-2' }}</p>
  </div>

  <ng-template #noSales>
    <p>No hay ventas disponibles para la fecha seleccionada.</p>
