<!-- Componente HTML -->
<div class="container-date">
  <mat-form-field style="margin: 5px">
    <input matInput [matDatepicker]="startDatePicker" placeholder="Fecha Inicial" [max]="maxDate" [min]="minDate" (dateChange)="startDateChanged($event)">
    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="endDatePicker" placeholder="Fecha Final" [max]="maxDate" [min]="minDate" (dateChange)="endDateChanged($event)">
    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>
</div>

<div class="container">
  <div id="chart">
    <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [stroke]="chartOptions.stroke"
    [dataLabels]="chartOptions.dataLabels"
    [yaxis]="chartOptions.yaxis"
    [labels]="chartOptions.labels"
    [legend]="chartOptions.legend"
    [title]="chartOptions.title"
    [subtitle]="chartOptions.subtitle"
    ></apx-chart>
  </div>
  <div id="pie">
    <apx-chart
    [series]="chartOption.series"
    [chart]="chartOption.chart"
    [labels]="chartOption.labels"
    [responsive]="chartOption.responsive"
    ></apx-chart>
  </div>
</div>
<!-- <div class="report-container">
  <h1>Reportes de Ventas</h1>

  <div class="filter-section">
    <label for="date">Filtrar por fecha:</label>
    <input type="date" id="date" [(ngModel)]="selectedDate">
    <button (click)="filterSalesByDate()">Buscar</button>
  </div>

  <div *ngIf="sales.data.length > 0; else noSales">
    <div class="sales-item" *ngFor="let sale of sales.data">
      <div class="sale-info">
        <p>Cliente: {{ sale.client }}</p>
      </div>
      <div class="product-combo-info" *ngIf="sale.productIds && sale.productIds.length > 0 || sale.comboIds && sale.comboIds.length > 0">
        <p *ngFor="let productId of sale.productIds">Producto ID: {{ productId }}</p>
        <p *ngFor="let comboId of sale.comboIds">Combo ID: {{ comboId }}</p>
      </div>
    </div>
    <p>Total recaudado: {{ totalAmount | currency:'USD':'symbol':'1.2-2' }}</p>
  </div>

  <ng-template #noSales>
    <p>No hay ventas disponibles para la fecha seleccionada.</p> -->
