<div class="container">
  <form [formGroup]="form" enctype="multipart/form-data" >
    <div class="title-container">
      <h1>Actualizar Producto</h1>
    </div>
    <div class="img-container">
      <input type="file" formControlName="file" placeholder="Image" (change)="onFileChange($event)">
      <label class="image-label">
        <img [src]="imagePreview ? imagePreview : '../../../../assets/icons/formIcons/image.svg'" alt="imagen">
      </label>
    </div>
    <div class="product-data">
      <div class="label-container">
        <label  for="name">Nombre</label>
      </div>
      <input type="text" formControlName="name" placeholder="Hamburguesa" required>
      <div *ngIf="form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)">
        <div *ngIf="form.get('name')?.errors">
          El campo es requerido.
        </div>
        <!-- Puedes agregar más condiciones para otros tipos de errores -->
      </div>
      <!-- <div class="label-container">
        <label  for="name">Cantidad</label>
      </div>
      <input type="number" formControlName="quantity" placeholder="100"> -->
      <div class="label-container">
        <label  for="name">Estado</label>
      </div>
      <select id="status" formControlName="status" required>
        <option>Estado</option>
        <option value="true">Activo</option>
        <option value="false">Inactivo</option>
      </select>
      <div *ngIf="form.get('status')?.invalid && (form.get('status')?.dirty || form.get('status')?.touched)">
        <div *ngIf="form.get('status')?.errors">
          El campo es requerido.
        </div>
        <!-- Puedes agregar más condiciones para otros tipos de errores -->
      </div>
      <div class="label-container">
        <label  for="name">Precio</label>
      </div>
      <input type="number" formControlName="price" placeholder="0.00" required>
      <div *ngIf="form.get('price')?.invalid && (form.get('price')?.dirty || form.get('price')?.touched)">
        <div *ngIf="form.get('price')?.errors">
          El campo es requerido.
        </div>
        <!-- Puedes agregar más condiciones para otros tipos de errores -->
      </div>
    </div>
    <div class="product-description">
      <input type="text" formControlName="description" placeholder="Descripcion">
      <div *ngIf="form.get('description')?.invalid && (form.get('description')?.dirty || form.get('description')?.touched)">
        <div *ngIf="form.get('description')?.errors">
          El campo es requerido.
        </div>
        <!-- Puedes agregar más condiciones para otros tipos de errores -->
      </div>
    </div>
    <div class="btn-container">
      <button (click)="sendRequest($event)">Enviar</button>
    </div>
  </form>
</div>
