
<div class="content">
  <div class="combo-info">
    <h2>{{combo.name}}</h2>
    <p>Precio: ${{combo.price}}</p>
    <!-- Utiliza *ngFor para iterar sobre el array de productos -->
    <div class="product-section">
      <div *ngFor="let product of combo.Product" class="product-details">
        <h2>Producto: {{product.name}}</h2>
        <p>Precio: ${{product.price}}</p>
        <!-- Agrega más campos según sea necesario -->
      </div>
    </div>
    <div class="buttons-container">
      <app-buttons
        [apiUrl]="request(combo.id)"
      ></app-buttons>
    </div>
  </div>
</div>
