@font-face {
  font-family: 'Kalam';
  src: url(~/src/assets/fonts/kalam/Kalam-Light.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./assets/fondo2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
